.main {
    padding-bottom: 50px;
    
    /*background-image: './public/images';*/
    &_info {
        width: 50%;
        min-width: 1020px;
        background-color: white;

        &_header {
            align-items: center;
            text-transform: uppercase;

            &_text {
                font-family: 'RoadRadio';
                font-style: normal;
                font-weight: 900;
                font-size: 42px;
                line-height: 125%;
                color: #0C424F;
                text-align: left;
                padding-top: 60px;
                margin-left: 160px;
            }
        }
        &_text {
            margin-left: 160px;
            margin-right: 80px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            text-align: left;
            line-height: 150%;
            min-height: 212px;
        }
    }
    
    
    
}

.red_line {
    min-height: 8px;
    width: 120px; 
}

.redline {
    min-height: 50px;
    display:flex;
    align-items:center;
    margin-left: 160px;
}

.more {
    margin-left: 160px;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 16px;
    width: 205px;
    min-height: 56px;
    background: #C4413A;
    border: none;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}